/* URLs List Opener custom style */

body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 0.5rem;
}

header {
    padding-top: 1rem;
}

.ulo-wrapper {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

h1 {
    text-align: center;
}


/* Table */
.ulo-table {
    width: 100%;
    margin-bottom: 3rem;
    background-color: #fff;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
}

.ulo-table thead {
    font-size: 1rem;
}

.ulo-table tbody {
    font-size: 0.92rem;
}

.ulo-table th,
.ulo-table td {
    padding-right: 1rem;
    padding-left: 1rem;
}

.ulo-table th {
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: #fff;
    background-color: #6c7ae0;
    text-align: left;
}

.ulo-table td {
    padding-top: 16px;
    padding-bottom: 16px;
    color: #808080;
}

.ulo-table tr:nth-child(even) {
    background-color: #f8f6ff;
}

.ulo-table .ulo-col-numb {
    text-align: center;
}


/* Counter */
.ulo-counter {
    padding: 2.25rem 2rem;
    border: 6px solid #d8e2dc;
    background-color: #e8e8e4;
    border-radius: 10px;
    box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.15);
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: #000;
}

.ulo-counter.ulo-active {
    border-color: #e76f51;
    background-color: #f4a261;
    color: #fff;
}

.ulo-counter.ulo-done {
    border-color: #60d394;
    background-color: #aaf683;
    color: #000;
}

@media (min-width: 1920px) {
    .ulo-counter {
        position: fixed;
        right: 60px;
        top: 48px;
    }
}


/* Footer */
footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    text-align: center;
}

.ulo-github-link {
    display: inline-block;
    width: 50px;
    height: auto;
}
